*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}


header {
    height: 100dvh;
    min-height: 100dvh;

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* ou "center", para centralizar e tirar o "pedding top" para poder centralizar"*/
    align-items: center;

    padding-top: 15px;

    background-image: url("img/foto-casal2.jpg");
    background-size: cover;
    background-position: center 35%;
    background-repeat: no-repeat;

    overflow: hidden;

    position: relative;

    z-index: 10;

    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;

    width: 100%;
    max-width: 500px;

    padding: 15px;

    text-align: center;
}



/* NOME DO CASAL */

h1 {

    font-size: clamp(2.5rem, 10vw, 4rem);

    font-family: "Great Vibes", cursive;

    color: #fff;

    text-shadow: 
    2px 2px 8px rgba(0,0,0,0.5);

    letter-spacing: 1px;

    animation: surgirDeBaixo 1.2s ease-out 0.8s forwards;

    opacity: 0;
}



/* DATA */

.data {
    margin-top: -12px;

    font-size: clamp(1rem, 3vw, 1.3rem);

    color: white;

    animation: surgirDeBaixo 1.2s ease-out 0.8s forwards;

    opacity: 0;
}



/* HORÁRIO */

.horario {
    margin-top: -7px;

    font-size: clamp(1.1rem, 3.5vw, 1.4rem);

    color: white;

    animation: surgirDeBaixo 1.2s ease-out 0.8s forwards;

    opacity: 0;
}


/* BOTÃO */

.botao {

    margin-top: -2px;
    padding: 0.9rem 2rem;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 50px;
    background: rgba(255,255,255,0.20);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 1px;
    animation: surgirDeBaixo 1.2s ease-out 0.8s forwards;
    opacity: 0;
    letter-spacing: 1.5px;
    position: relative;
}

.botao::first-letter {
    font-size: 1.2em;
}

.linha-coracao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: -20px 0 2px;
}

.linha-coracao span {
    width: 60px;
    height: 1px;
    background: white;
}

.linha-coracao i {
    font-size: 22px;
    color: white;
    font-style: normal;
}



.botao:hover {

    background-color: #c59b25;

}



/* ANIMAÇÃO */

@keyframes surgirDeBaixo {

    from {

        opacity: 0;

        transform: translateY(30px);

    }


    to {

        opacity: 1;

        transform: translateY(0);

    }

}



/* SUMIR A CAPA AO CLICAR */

.capa-sumir {

    transform: translateY(-100vh);

    opacity: 0;

}
